        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
        
        .small-link {
            cursor: pointer;
            color: "#00000";
        }
        
        .small-link:hover {}
        
        .edit {
            list-style-image: url(../img/edit.png);
        }
        
        .done {
            list-style-image: url(../img/edit.png);
            text-decoration: line-through;
        }
        
        .greeting {
            color: #fbfdff;
            font-size: 16px;
            padding: 10px;
        }
        
        .in-form {
            background: rgba(255, 255, 255, 0.906);
            margin: 30px auto 10px;
            font-size: 18px;
            line-height: 30px;
            border: none;
            width: 100%;
            margin-left: 15px;
            padding: 30px 30px;
            border-radius: 5px;
            transform-origin: top;
            justify-content: center;
            align-items: center;
        }
        
        .nav-link {
            color: #fbfdff;
            background: #d92b88;
            position: relative;
            cursor: pointer;
            display: block;
            margin-right: auto;
            margin-left: auto;
            padding: 0;
            text-transform: uppercase;
            font-family: inherit;
            font-size: 20px;
            letter-spacing: .5px;
            min-width: 100px;
            border: none;
            border-color: white;
            outline: none;
            padding: 10px;
        }
        
        .nav-link:hover {}
        
        .in-page {
            display: none;
            overflow: hidden;
            width: 80%;
            justify-content: center;
            align-items: center;
        }
        
        .active {
            display: block;
        }
        
        .page {
            display: none;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
        
        .active {
            display: block;
        }
        
        body {
            margin: 0;
            font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
            /* background-image: linear-gradient(-225deg, #da9eb5 0%, #000000 100%); */
            background-image: linear-gradient(to top, #c1c7e0 0%, #d92b88 65%, #3e3365 35%);
            background-attachment: fixed;
            background-repeat: no-repeat;
        }
        
        .forms-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: center;
        }
        
        .section-title {
            font-size: 40px;
            letter-spacing: 1px;
            color: #fff;
            height: 20px;
        }
        
        .forms {
            display: flex;
            align-items: flex-start;
            margin-top: 20px;
            justify-content: center;
        }
        
        .form-wrapper {
            animation: hideLayer .3s ease-out forwards;
        }
        
        .form-wrapper.is-active {
            animation: showLayer .3s ease-in forwards;
        }
        
        @keyframes showLayer {
            50% {
                z-index: 1;
            }
            100% {
                z-index: 1;
            }
        }
        
        @keyframes hideLayer {
            0% {
                z-index: 1;
            }
            49.999% {
                z-index: 1;
            }
        }
        
        .switcher {
            position: relative;
            cursor: pointer;
            display: block;
            margin-right: auto;
            margin-left: auto;
            padding: 0;
            text-transform: uppercase;
            font-family: inherit;
            font-size: 20px;
            letter-spacing: .5px;
            color: #999;
            background-color: transparent;
            border: none;
            outline: none;
            transform: translateX(0);
            transition: all .3s ease-out;
        }
        
        .form-wrapper.is-active .switcher-login {
            color: #fff;
            transform: translateX(90px);
        }
        
        .form-wrapper.is-active .switcher-signup {
            color: #fff;
            transform: translateX(-90px);
        }
        
        .underline {
            position: absolute;
            bottom: -5px;
            left: 0;
            overflow: hidden;
            pointer-events: none;
            width: 100%;
            height: 2px;
        }
        
        .underline::before {
            content: '';
            position: absolute;
            top: 0;
            left: inherit;
            display: block;
            width: inherit;
            height: inherit;
            background-color: currentColor;
            transition: transform .2s ease-out;
        }
        
        .switcher-login .underline::before {
            transform: translateX(101%);
        }
        
        .switcher-signup .underline::before {
            transform: translateX(-101%);
        }
        
        .form-wrapper.is-active .underline::before {
            transform: translateX(0);
        }
        
        .form {
            overflow: hidden;
            min-width: 400px;
            margin-top: 50px;
            padding: 30px 30px;
            border-radius: 5px;
            transform-origin: top;
        }
        
        .form-login {
            animation: hideLogin .3s ease-out forwards;
        }
        
        .form-wrapper.is-active .form-login {
            animation: showLogin .3s ease-in forwards;
        }
        
        @keyframes showLogin {
            0% {
                background: #c1c7e0;
                transform: translate(40%, 10px);
            }
            50% {
                transform: translate(0, 0);
            }
            100% {
                background-color: #fff;
                transform: translate(35%, -20px);
            }
        }
        
        @keyframes hideLogin {
            0% {
                background-color: #fff;
                transform: translate(35%, -20px);
            }
            50% {
                transform: translate(0, 0);
            }
            100% {
                background: #292d4026;
                transform: translate(40%, 10px);
            }
        }
        
        .form-signup {
            animation: hideSignup .3s ease-out forwards;
        }
        
        .form-wrapper.is-active .form-signup {
            animation: showSignup .3s ease-in forwards;
        }
        
        @keyframes showSignup {
            0% {
                background: #c1c7e026;
                transform: translate(-40%, 10px) scaleY(.8);
            }
            50% {
                transform: translate(0, 0) scaleY(.8);
            }
            100% {
                background-color: #fff;
                transform: translate(-35%, -20px) scaleY(1);
            }
        }
        
        @keyframes hideSignup {
            0% {
                background-color: #fff;
                transform: translate(-35%, -20px) scaleY(1);
            }
            50% {
                transform: translate(0, 0) scaleY(.8);
            }
            100% {
                background: #292d4026;
                transform: translate(-40%, 10px) scaleY(.8);
            }
        }
        
        .form fieldset {
            position: relative;
            opacity: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: all .3s ease-out;
        }
        
        .form-login fieldset {
            transform: translateX(-50%);
        }
        
        .form-signup fieldset {
            transform: translateX(50%);
        }
        
        .form-wrapper.is-active fieldset {
            opacity: 1;
            transform: translateX(0);
            transition: opacity .4s ease-in, transform .35s ease-in;
        }
        
        .form legend {
            position: absolute;
            overflow: hidden;
            width: 1px;
            height: 1px;
            clip: rect(0 0 0 0);
        }
        
        .input-block {
            margin-bottom: 8px;
        }
        
        .input-block label {
            font-size: 16px;
            color: #a1b4b4;
        }
        
        .input-block input {
            display: block;
            width: 100%;
            margin-top: 10px;
            padding-right: 25px;
            padding-left: 25px;
            font-size: 16px;
            line-height: 40px;
            color: #3b4465;
            background: #c1c7e026;
            border: 1px solid #cddbef;
            border-radius: 2px;
            font-family: inherit;
        }
        
        .input-block select {
            display: block;
            width: 100%;
            margin-top: 10px;
            padding-right: 25px;
            padding-left: 25px;
            font-size: 16px;
            line-height: 45px;
            color: #3b4465;
            background: #c1c7e026;
            border: 1px solid #cddbef;
            border-radius: 2px;
            font-family: inherit;
            padding: 5px 2px 5px 10px;
            height: 45px;
        }
        
        button {}
        
        .btn-login {
            color: #fbfdff;
            background: #d92b88;
            display: block;
            min-width: 120px;
            margin: 30px auto 10px;
            font-size: 16px;
            line-height: 40px;
            border-radius: 25px;
            border: none;
            opacity: 1;
            transform: translateX(0);
            transition: all .4s ease-in;
            /*   transform: translateX(-30%);*/
        }
        
        .btn-signup {
            display: block;
            min-width: 120px;
            margin: 30px auto 10px;
            font-size: 16px;
            line-height: 40px;
            border-radius: 25px;
            border: none;
            opacity: 1;
            transform: translateX(0);
            transition: all .4s ease-in;
            color: #d92b88;
            background: #fbfdff;
            box-shadow: inset 0 0 0 2px #d92b88;
            /*   transform: translateX(30%);*/
        }
        
        .btn-inpage {
            display: block;
            min-width: 120px;
            margin: 30px auto 10px;
            font-size: 16px;
            line-height: 40px;
            border-radius: 25px;
            border: none;
            color: #d92b88;
            background: #fbfdff;
            box-shadow: inset 0 0 0 2px #d92b88;
            transform: translateX(30%);
        }
        /* single post*/
        /* The Modal (background) */
        
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }
        /* Modal Content/Box */
        
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            /* Could be more or less, depending on screen size */
            animation: showTogo .5s ease-in-out;
        }
        /* The Close Button */
        
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        
        @keyframes showTogo {
            0% {
                background: #c1c7e0;
                transform-origin: left top;
                transform: scaleY(0);
                /*   transform: translate(40%, 10px);*/
            }
            target {
                transform: scaleY(1);
            }
        }